p.intro{
  background-color: lightblue;
  border-style: groove;
  border-radius: 10px;
  color: white;
}
h2.intro {
  text-align: center;
  border-color: white;
  border-radius: 10px;
  color: white;

}
body {
  background-color: black;

}
p {
  color: yellow;
}

img.intro {
  padding-left: 575px;
}
